.thumbnail {
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    img {
        width: 100%;
    }

    .caption {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 4px;

        h4 {
            white-space: nowrap;
        }
    }

    .caption-full {
        padding: 9px;
        color: #333;
    }
}